#root {
  display: flex;
  height: 100vh;
  background: rgba(30,85,92,255);
  justify-content: center;
  align-items: center;
  color: white;
}
.project-title {
  text-align: center;
  font-size: 45px;
  margin: 20px;
}
.user-input {
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.length-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.timer-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 25px;
}
#timer-label {
  font-size: 30px;
  margin: 10px 0px 0px;
}
#time-left {
  font-size: 70px;
  margin: 0;
  margin-bottom: 10px;
}
#break-length, #session-length, #break-label, #session-label {
  margin: 0;
}
.break, .session {
  font-size: 21px;
}
.timer {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: 6px solid rgba(19,53,58,255);
  border-radius: 60px;
  padding: 10px 20px;
  width: 210px;
}
